<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">C:\Users\miguel.mier\Desktop\BootCamp\Sesion 9\springboot\clientesbanco\clientesbanco\src\main\java\es\babel\clientesbanco\utils\logs</Property>
    </Properties>

    <Appenders>
        <!-- RollingFile Appender for file logging -->
        <RollingFile name="fileLogger"
                     fileName="${basePath}/app.log"
                     filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="20MB" />
            </Policies>
            <!-- Max 10 files will be created every day -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Console Appender for Spring startup logging -->
        <Console name="consoleLogger" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Logger for file logging -->
        <Root level="info" additivity="false">
            <appender-ref ref="fileLogger" />
        </Root>

        <!-- Logger for Spring startup logging -->
        <Logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="consoleLogger" />
        </Logger>
    </Loggers>
</Configuration>