<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración Plantilla de Trabajadorees</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Administración de la Plantilla</h1>
    <ul>
        <li>
            <button onclick="window.location.href='/alta.html'">Alta Trabajador</button>
        </li>
        <li>
            <button onclick="window.location.href='/baja.html'">Baja Trabajador</button>
        </li>
        <li>
            <button onclick="window.location.href='/asignacion.html'">Asignar Pedido</button>
        </li>


    </ul>

</body>
</html>