<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Administración Plantilla de Trabajadorees</title>
    <style>
        .boton-verde {
            background-color: #4CAF50; /* Verde */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
    </style>
</head>
<body>
    <h1>Administración de la Plantilla</h1>
    <ul>
        <a href="/plantilla/alta" class="boton-verde">Alta Trabajador</a>
        <a href="/plantilla/baja" class="boton-verde">Baja Trabajador</a>
        <a href="/plantilla/asignacion" class="boton-verde">Asignar Pedido</a>


    </ul>

</body>
</html>